@charset "utf-8";

.inner{
  width: 1100px;
  margin: 0 auto;
}

@media screen and (max-width: 1199px) {
  .inner{
    width: 97%;
  }
}

@media screen and (max-width: 767px) {
  .inner{
    width: 97%;
  }
}

.header{
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.header-nav{
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
  background: #fff;
}

.header-nav .fas {
  color: #777;
}

.header-nav a{
  text-decoration: none;
}

.contact{
  color: #ffffff;
  background-color: #5ba7eb;
  font-size: 12px;
  padding: 12px 14px;
  line-height: 12px;
  text-align: center;
  display: inline-block;
  transition: 0.3s;
}

.contact:hover{
  color: #333;
}

.btn,.btn-line{
  display: none;
}

@media screen and (max-width: 767px) {
  .contact{
    display: none;
  }

  .btn{
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    background: #fff;
    border: 1px solid #d3d1d1;
    border-radius: 10%;
  }

  .btn_line{
    display: block;
    position: absolute;
    width: 80%;
    height: 3px;
    top: 0;
    left: 10%;
    background: #d3d1d1;
  }

  .btn_line:nth-child(1) {
    top: 20%;
  }
  .btn_line:nth-child(2) {
    top: 45%;
  }
  .btn_line:nth-child(3) {
    top: 70%;
  }
}

.keyvisual{
  background: url(../img/keyvisual/keyvisual.jpg) no-repeat center/cover;
  height: auto;
}

.maintitle{
  padding: 400px 0px 0px;
  font-size: 65px;
  font-weight: 700;
  color: #6ba7eb;
  margin-bottom: 30px;
  text-align: center;
  box-sizing: border-box;
}

.subtitle{
  padding: 0px 0px 400px;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .keyvisual{
    width: 100%;
  }
  .maintitle{
    font-size: 40px;
    padding: 200px 0px 0px;
    box-sizing: border-box;
  }

  .subtitle{
    font-size: 30px;
    padding: 0px 0px 200px;
  }
}

@media screen and (max-width: 1199px) {
  .keyvisual{
    width: 100%;
  }
  .maintitle{
    font-size: 40px;
    padding: 250px 0px 0px ;
    box-sizing: border-box;
  }

  .subtitle{
    font-size: 30px;
    padding: 0px 0px 250px;
  }
}

.work{
  background: #e3f2fd;
}

h3{
  font-size: 40px;
  letter-spacing: 10px;
}

.flex{
  display: flex;
  padding-top: 50px;
}

img.pcimg{
  margin: 0 auto;
  vertical-align: top;
  width: 250px;
  height: auto;
}

.right{
  width: 60%;
}

.title{
  text-align: center;
  margin-top: 20px;
}

.text{
  font-size: 15px;
  line-height: 18px;
  word-break: break-all;
  text-align: center;
  margin-top: 35px;
}

@media screen and (max-width: 1199px) {
  .flex{
    display: block;
    width: 100%;
    text-align: center;
  }
  .right{
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .flex{
    display: block;
    width: 100%;
    text-align: center;
}
.right{
  display: block;
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
}
}

.skills{
  background: #fff;
  padding-bottom: 70px;
}

.skills-title{
  margin: 50px;
  text-align: center;
}

.skills-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills-img a{
  display: block;
  margin-top: 100px;
}

.skills-img img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  opacity: 0.7;
  vertical-align: bottom;
}

.skills-img a:first-child,.skills-img a:nth-child(2),.skills-img a:nth-child(3){
  margin-top: 0px;
}

.skills-img img:hover{
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .skills-img{
    display: block;
    text-align: center;
  }

  .skills-img a{
    margin-top: 0px;
  }

  .skills-img :nth-child(3n){
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 1199px) {
  .skills-img{
    display: block;
    text-align: center;
  }

  .skills-img a{
    margin-top: 0px;
  }

  .skills-img :nth-child(3n){
    margin-bottom: 80px;
  }
}

.plan{
  background: #d0dfea;
  padding: 50px 0px;
}

.plan-title{
  text-align: center;
  margin-bottom: 50px;
}

.cell--table{
  table-layout: fixed;
  width: 100%;
}

.cell--table th{
  font-size: 16px;
  line-height: 26px;
  padding: 10px;
  background: #6ba7eb;
  border-left: 2px solid #fff;
  font-weight: bold;
}

.cell--table th:first-child{
  border-left: none;
}

.cell--table td{
  line-height: 26px;
  font-size: 16px;
  padding: 10px;
  border-left: 2px solid #fff;
  text-align: center;
}

.cell--table td:first-child{
  border-left: none;
  font-weight: bold;
}

.cell--table tr{
  background-color: #f9f9f9;
}

.cell--table tr:nth-child(2n){
  background-color: #e0efff;
}

@media screen and (max-width: 767px) {
  .cell--table th{
    font-size: 14px;
    line-height: 22px;
  }
}

@media screen and (max-width: 767px) {
  .cell--table td{
    font-size: 12px;
  }
}

.sns{
  background: #e3f2fd;
}


.sns-nav{
  display: flex;
  justify-content: space-between;
  width: 740px;
  margin: 0 auto;
  padding: 200px 0px;
}

.fab,.sns-nav .fas{
  color: #8c8c8c;
  overflow: hidden;
  font-size: 40px;
  width: 185px;
  margin: 25px 0px;
  text-align: center;
  text-decoration: none;
  transition: 0.5s;
}

.fab:hover,.sns-nav .fas:hover{
  color: #fff;
}

@media screen and (max-width: 767px) {
  .sns-nav{
    display: block;
    padding: 50px 15px;
  }

  .fab,.sns-nav .fas{
    width: 100%;
    margin: 50px 0px;
    text-align: center;
  }
}

.footer{
  background: #cfd8dc;
  padding-top: 20px;
  padding-bottom: 25px;
}

.copyright{
  font-size: 10px;
  letter-spacing: 0.5px;
  text-align: right;
}