@charset "utf-8";

.inner{
  width: 1100px;
  margin: 0 auto;
}

.header{
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.header-nav{
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
  background: #fff;
}

.header-nav .fas {
  color: #777;
}

.header-nav a{
  text-decoration: none;
}

.contact{
  color: #ffffff;
  background-color: #5ba7eb;
  font-size: 12px;
  padding: 12px 14px;
  line-height: 12px;
  text-align: center;
  display: inline-block;
  transition: 0.3s;
}

.contact:hover{
  color: #333;
}

.keyvisual{
  background: url(../img/keyvisual/keyvisual.jpg) no-repeat center/cover;
  height: 935px;
}

.maintitle{
  padding-top: 400px;
  font-size: 65px;
  font-weight: 700;
  color: #6ba7eb;
  margin-bottom: 30px;
  text-align: center;
}

.subtitle{
  padding-bottom: 400px;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.work{
  background: #e3f2fd;
}

h3{
  font-size: 40px;
  letter-spacing: 10px;
}

.flex{
  display: flex;
  padding-top: 50px;
}

img.pcimg{
  margin: 0 auto;
  vertical-align: top;
  width: 250px;
  height: auto;
}

.right{
  width: 60%;
}

.title{
  text-align: center;
  margin-top: 20px;
}

.text{
  font-size: 15px;
  line-height: 18px;
  word-break: break-all;
  text-align: center;
  margin-top: 35px;
}

.skills-inner{
  background: #fff;
  padding-bottom: 70px;
}

.skills-title{
  margin: 50px;
  text-align: center;
}

.skills-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills-img a{
  display: block;
  margin-top: 100px;
}

.skills-img img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  opacity: 0.7;
}

.skills-img a:first-child,.skills-img a:nth-child(2),.skills-img a:nth-child(3){
  margin-top: 0px;
}

.skills-img img:hover{
  opacity: 1;
}

.plan{
  background: #d0dfea;
  padding: 50px 0px;
}

.plan-title{
  text-align: center;
  margin-bottom: 50px;
}

.cell--table{
  table-layout: fixed;
  width: 100%;
}

.cell--table th{
  font-size: 16px;
  line-height: 26px;
  padding: 10px;
  background: #6ba7eb;
  border-left: 2px solid #fff;
  font-weight: bold;
}

.cell--table th:first-child{
  border-left: none;
}

.cell--table td{
  line-height: 26px;
  font-size: 16px;
  padding: 10px;
  border-left: 2px solid #fff;
  text-align: center;
}

.cell--table td:first-child{
  border-left: none;
  font-weight: bold;
}

.cell--table tr{
  background-color: #f9f9f9;
}

.cell--table tr:nth-child(2n){
  background-color: #e0efff;
}

.sns{
  background: #e3f2fd;
}


.sns-nav{
  display: flex;
  justify-content: space-between;
  width: 740px;
  margin: 0 auto;
  padding: 200px 0px;
}

.fab,.sns-nav .fas{
  color: #8c8c8c;
  overflow: hidden;
  font-size: 40px;
  width: 185px;
  margin: 25px 0px;
  text-align: center;
  text-decoration: none;
  transition: 0.5s;
}

.fab:hover,.sns-nav .fas:hover{
  color: #fff;
}

.footer{
  background: #cfd8dc;
  padding-top: 20px;
  padding-bottom: 25px;
}

.copyright{
  font-size: 10px;
  letter-spacing: 0.5px;
  text-align: right;
}